# ignore everthing
*
# ...even if they are in subdirectories
!*/		## if uncomment, then the same pattern file also be tracked even in the subdirectories 


# but except following file
!.gitignore
!*.py
## and ...
#!/.vim/autoload/
!git_setup.txt
!dist/
dist/*
!dist/py4m
dist/py4m/*
!tkc_lx
